{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}

  {% set prod_domain = config.extra.analytics.prod_domain %}
  {% set gc_endpoint = config.extra.analytics.goatcounter.endpoint %}
  {% set gc_src = config.extra.analytics.goatcounter.script_src %}

  <script>
  (function () {
    try {
      if (!["{{ prod_domain }}", "www.{{ prod_domain }}"].includes(window.location.hostname)) return;

      var s = document.createElement("script");
      s.async = true;
      s.src = "{{ gc_src }}";
      s.setAttribute("data-goatcounter", "{{ gc_endpoint }}");
      document.head.appendChild(s);
    } catch (e) {}
  })();
  </script>
{% endblock %}
